body {
    text-align: center;
    background-color: #AED581;
}

img {
    width: 600px;
    height: 300px;
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: left;
}

.section-style {
    margin-left: 25px;
    margin-right: 25px;
    background-color: aliceblue;
}
